body,
h1,
h2,
h3,
h4,
h5 {
	font-family: "Raleway", sans-serif;
	height: 100%;
}

/* remove display: none which is default */
.w3-modal {
	display: flex;
	align-items: center;
}

.w3-modal-content {
	align-self: center;
	flex:1;
}


.w3-bar-item {
	color: 	#DCDCDC;
	background-color: black;
}

.w3-bar-item:hover {
	transition: ease-in-out 0.3s !important;
	background-color: black !important;
	color: white !important;
	
}


.w3-dropdown-hover:first-child,.w3-dropdown-click:hover{
	background-color:#000 !important;
	color: white !important;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{
	background-color:#000 !important;
	color: white !important;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.w3-dropdown-hover:hover {
	transition: ease-in-out 0.3s;
	color: white!important;
    background-color: black!important;
}

.w3-button:hover {
	transition: ease-in-out 0.3s;
	color: white!important;
    background-color: black!important;
}

.w3-ul .w3-padding-16:hover {
	transition: ease-in-out 0.3s;
}

.active {
	color: white !important;
	
	border-bottom-color: white !important;
}
.w3-hover-border-white {
	border-width: medium !important;
}

/* about card in main page */
#about-card {
	position: sticky;
	top: 0;
}

.image {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
		url("../images/autumn_mountains_reflection_evening.jpg");
	background-position: 50% 30%;
	background-size: cover;
	height: 30em;
	text-align: center;
	/* color: aliceblue; */
}

.w3-container {
	height: 100%;
}

#create-post-container {
	height: auto;
}

hr {
	width: 70%;
    display: flex;
    align-self: center;
}

.display-linebreak {
	white-space: pre-line;
}

.header {
	position: sticky;
	top: 0;
	z-index: 1000;
};

.page-description {
	text-align: center;
}

#bar {
	height: 41px !important;
}


#content {
	min-height: 100vh;
	/* test */
	padding-top: 5em;
	display: flex;
	justify-content: center;
}

#content-for-form {
	min-height: 90vh;
	/* test */
	padding-top: 1em;
	display: flex;
	justify-content: center;
}

#post-container {
	padding: 0 !important;
	/* test */
	word-wrap: break-word;
}

#post-content {
	margin: 0 4em 2em 4em;
	/* test */
	line-height: 2em;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#category-content {
	margin: 0 4em 2em 4em;
	/* test */
	line-height: 2em;
	display: flex;
	flex-direction: column;
	width: 70%;
    height: min-content;
}

#create-category-container {
	height: auto;
	padding: 10px;
}

#post-title {
	font-weight: bold;
}

#post-text {
	color: rgba(0, 0, 0, 0.84);
	font-size: large;
}

.reading-progress-bar {
	position: sticky;
	height: 5px;
	background-color: #3F5365;
	z-index: 500;
	top: 41px;
}

.errorMessage {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.error {
	flex: 1;
	align-self: center;
}

.closeMessage {
	flex: 0;

}

.closeIcon {
	padding: 8px 0px;
}

.w3-panel {
	border-radius: 6px;
}

.w3-input {
	border-radius: 2px;
}

.closeBtn {
	padding: 4px 16px;
}

.closeBtn:hover {
	
	color: 	#707070 !important;
	transition: ease-in-out 0.3s;
}

.w3-show {
	transition: ease-in-out 0.3s !important;
}

.link {
	text-decoration: none;
}

/* edit and delete buttons for post */
#modify-buttons {
	display: flex;
	justify-content: flex-end;
}

/* #edit-btn {
	margin-right: 0.5em;
}

#delete-btn {
	margin-left: 0.5em;
} */

/* React quill */

app .ql-container {
	min-height: 10em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	background: #fefcfc;
  }
  
  .app .ql-toolbar {
	background: #eaecec;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
  }
  .ql-editor .ql-video {
    display: block;
    max-width: 100%;
	width: 50vw;
	height: 50vh;
	display: flex !important;
	align-self: center;
}
/* ck editor */
/* .ck.ck-content {
	min-height: 400px;
} */

/* custom dropdown */
.sub-menu-parent { position: relative; }

.sub-menu { 
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}


/* nav a { color: #E00; display: block; padding: 0.5em 1em; text-decoration: none; }
nav a:hover { color: #F55; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { background: #EEE; text-align: center; }
nav > ul > li { display: inline-block; border-left: solid 1px #aaa; }
nav > ul > li:first-child { border-left: none; } */

.sub-menu {
  background: black;
}

/* categories in creating a post */

.categories-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.categories-list {
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	width: 40%;
	height: 100px;
	flex-direction: column;
	overflow-y: scroll;
}

.category-item {
	width: 100%;
}

.selected-category-item {
	margin-right: 3px;
	margin-bottom: 3px;
}

.category-item.active {
	color: white;
	background-color: black;
	border: 1px solid white;
}

.selected-categories {
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	width: 40%;
	height: 100px;
	overflow-y: scroll;
}