body,
h1,
h2,
h3,
h4,
h5 {
	font-family: "Raleway", sans-serif;
	height: 100%;
}

/* remove display: none which is default */
.w3-modal {
	display: flex;
	align-items: center;
}

.w3-modal-content {
	align-self: center;
	flex:1;
}


.w3-bar-item {
	color: 	#DCDCDC;
}

.w3-bar-item:hover {
	transition: ease-in-out 0.3s !important;
	background-color: black !important;
	color: white !important;
	
}

.w3-button:hover {
	transition: ease-in-out 0.3s;
}

.w3-ul .w3-padding-16:hover {
	transition: ease-in-out 0.3s;
}

.active {
	color: white !important;
	
	border-bottom-color: white !important;
}
.w3-hover-border-white {
	border-width: medium !important;
}

/* about card in main page */
#about-card {
	position: sticky;
	top: 0;
}

.image {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
		url("../images/autumn_mountains_reflection_evening.jpg");
	background-position: 50% 30%;
	background-size: cover;
	height: 30em;
	text-align: center;
	/* color: aliceblue; */
}

.w3-container {
	height: 100%;
}

.display-linebreak {
	white-space: pre-line;
}

#content {
	min-height: 100vh;
	/* test */
	padding-top: 5em;
}

#post-container {
	padding: 0 !important;
	/* test */
	word-wrap: break-word;
}

#post-content {
	margin: 0 4em 2em 4em;
	/* test */
	line-height: 2em;
}

#post-text {
	color: rgba(0, 0, 0, 0.84);
}

.errorMessage {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.error {
	flex: 1;
	align-self: center;
}

.closeMessage {
	flex: 0;

}

.closeIcon {
	padding: 8px 0px;
}

.w3-panel {
	border-radius: 6px;
}

.w3-input {
	border-radius: 2px;
}

.closeBtn {
	padding: 4px 16px;
}

.closeBtn:hover {
	
	color: 	#707070 !important;
	transition: ease-in-out 0.3s;
}

.w3-show {
	transition: ease-in-out 0.3s !important;
}

.link {
	text-decoration: none;
}

/* React quill */

app .ql-container {
	min-height: 10em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	background: #fefcfc;
  }
  
  .app .ql-toolbar {
	background: #eaecec;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
  }
  .ql-editor .ql-video {
    display: block;
    max-width: 100%;
	width: 50vw;
	height: 50vh;
	display: flex !important;
	align-self: center;
}
/* ck editor */
/* .ck.ck-content {
	min-height: 400px;
} */


